div {
    border: solid 2px #ff2daa;
}
.pol {
    height: 100%;
}
.bot {
    height: 12.5%;
}
.box1 {
    height: 100%;
    border-top: 0;
    border-left: 0;
}
.box2 {
    height: 100%;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}
.box3 {
    height: 30%;
    margin-top: 17.9%;
    border-left: 0;
    border-bottom: 0;
 }
.box4 {
    border: solid 2px #ff2daa;
    border-right: none;
    height: 80%;
    margin-top: -5%;
}
.box5 {
    height: 100%;
    border-left: 0;
    border-bottom: 0;
}
.box6 {
    height: 100%;
    border: 0;
    border-top: solid 2px #ff2daa;
}
.box7 {
    border: 0;
    height: 100%;
}
.box01 {
    height: 400px;
}
.box02 {
    height: 100%;
    border: 0;
    border-right: solid 2px #ff2daa;
}
.noborder {
    border: 0;
}
.top {
    height: 37.5%;
}



.main {
    height: 50%;
}
.bot {
    height: 12.5%;
}

